@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

.header.dashboard {
  .navbar {
    background-color: $primary !important;
  }
}
.header.services {
  .navbar {
    background-color: $primary !important;
  }
}
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nav__text {
  color: $light !important;
  cursor: pointer;
  &:hover {
    color: $white !important;
    border-bottom: 3px solid $primary;
  }
}
.nav-link {
  display: inline;
  color: $light !important;
}
a[aria-expanded='false'] {
  &:hover {
    color: $white !important;
    border-bottom: 3px solid $primary;
  }
}
a[aria-expanded='true'] {
  background: none !important;
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

.navbar-brand {
  font-family: 'Mr De Haviland', cursive;
  font-weight: bold;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .navbar__light {
    background-color: $black !important;
  }
  .nav__text {
    color: $light;
    width: 60px;
    &:hover {
      border-bottom: 3px solid $primary;
    }
  }
  .navbar-brand {
    font-size: 2rem;
  }
}
