.wrapper {
  overflow: hidden;
  width: 100%;

  perspective: 1500px;

  .profile-navigation {
    .navigation-wrapper {
      max-height: 80vh;
      background: $white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      .nav,
      .nav-link,
      a {
        margin: 4px 0;
        padding: 10px 22px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 24px;
        text-decoration: none;

        .active {
          background: $primary;
          color: $white !important;
          border-radius: 4px;
        }

        .icon {
          margin-right: 15px !important;
          font-size: 1.3rem !important;
        }
      }
    }
  }

  .info__card {
    background: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;

    .bread-crumb {
      padding-top: 15px;
      padding-bottom: 15px;
      h3 {
        font-weight: 600;
      }
    }
    label {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 18px;
      color: $dimgrey;
    }
    p {
      font-size: 1rem;
      word-break: break-all;
    }
  }
}

@media (max-width: 768px) {
  .navigation-wrapper {
    margin: 15px 15px 50px 15px;
  }
  .info__card {
    margin: 15px 15px 50px 15px;
  }
}
